# build & dependencies
node_modules/
dist/
build/
.vite/

# system files
.DS_Store

# Android
android/app/build/
android/app/debug/
android/app/release/
android/keystore.properties
android/app/div-release-key.jks

# iOS (pokud přidáš)
ios/build/
ios/App/App.xcworkspace/xcuserdata/

# Env / secrets
.env
