name: Generate Android Keystore (one-off)

on:
  workflow_dispatch:

jobs:
  gen-keystore:
    runs-on: ubuntu-latest
    steps:
      - name: Generate keystore and encode
        run: |
          keytool -genkey -v -keystore upload-keystore.jks \
            -storepass changeit -keypass changeit \
            -alias upload -keyalg RSA -keysize 2048 -validity 10000 \
            -dname "CN=DIV, OU=DIV, O=DIV, L=Liberec, S=CZ, C=CZ"
          echo "-----BEGIN BASE64-----"
          base64 -w 0 upload-keystore.jks
          echo ""
          echo "-----END BASE64-----"
